:root,
:root.light {
  --COLOR: 155;
  --clr-1: hsl(var(--COLORS), 100%, 100%);
  --clr-2: hsl(var(--COLORS), 100%, 90%);
  --clr-3: hsl(var(--COLORS), 100%, 80%);
  --clr-4: hsl(var(--COLORS), 100%, 70%);
  --clr-5: hsl(var(--COLORS), 100%, 60%);
  --clr-6: hsl(var(--COLORS), 100%, 50%);
  --clr-7: hsl(var(--COLORS), 100%, 40%);
  --clr-8: hsl(var(--COLORS), 100%, 30%);
  --clr-9: hsl(var(--COLORS), 100%, 20%);
  --clr-10: hsl(var(--COLORS), 100%, 10%);
  --clr-11: hsl(var(--COLORS), 100%, 05%);
  --clr-12: hsl(var(--COLORS), 100%, 00%);
  /* ------------------------------------------------------------- */
  --clr-1-d: hsl(var(--COLORS), 70%, 100%);
  --clr-2-d: hsl(var(--COLORS), 70%, 90%);
  --clr-3-d: hsl(var(--COLORS), 70%, 80%);
  --clr-4-d: hsl(var(--COLORS), 70%, 70%);
  --clr-5-d: hsl(var(--COLORS), 70%, 60%);
  --clr-6-d: hsl(var(--COLORS), 70%, 50%);
  --clr-7-d: hsl(var(--COLORS), 70%, 40%);
  --clr-8-d: hsl(var(--COLORS), 70%, 30%);
  --clr-9-d: hsl(var(--COLORS), 70%, 20%);
  --clr-10-d: hsl(var(--COLORS), 70%, 10%);
  --clr-11-d: hsl(var(--COLORS), 70%, 05%);
  --clr-12-d: hsl(var(--COLORS), 70%, 00%);
}

:root.dark {
  --COLOR: 155;
  --clr-1: hsl(var(--COLORS), 100%, 100%);
  --clr-2: hsl(var(--COLORS), 100%, 90%);
  --clr-3: hsl(var(--COLORS), 100%, 80%);
  --clr-4: hsl(var(--COLORS), 100%, 70%);
  --clr-5: hsl(var(--COLORS), 100%, 60%);
  --clr-6: hsl(var(--COLORS), 100%, 50%);
  --clr-7: hsl(var(--COLORS), 100%, 40%);
  --clr-8: hsl(var(--COLORS), 100%, 30%);
  --clr-9: hsl(var(--COLORS), 100%, 20%);
  --clr-10: hsl(var(--COLORS), 100%, 10%);
  --clr-11: hsl(var(--COLORS), 100%, 05%);
  --clr-12: hsl(var(--COLORS), 100%, 00%);
  /* ------------------------------------------------------------- */
  --clr-1-d: hsl(var(--COLORS), 70%, 100%);
  --clr-2-d: hsl(var(--COLORS), 70%, 90%);
  --clr-3-d: hsl(var(--COLORS), 70%, 80%);
  --clr-4-d: hsl(var(--COLORS), 70%, 70%);
  --clr-5-d: hsl(var(--COLORS), 70%, 60%);
  --clr-6-d: hsl(var(--COLORS), 70%, 50%);
  --clr-7-d: hsl(var(--COLORS), 70%, 40%);
  --clr-8-d: hsl(var(--COLORS), 70%, 30%);
  --clr-9-d: hsl(var(--COLORS), 70%, 20%);
  --clr-10-d: hsl(var(--COLORS), 70%, 10%);
  --clr-11-d: hsl(var(--COLORS), 70%, 05%);
  --clr-12-d: hsl(var(--COLORS), 70%, 00%);
}
